In [ ]:
#Task_1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
#Task_2
a_tuple = (10, 20, 24, 25, 26, 35, 70)
a_tuple = a_tuple[2:-2]
print(a_tuple)

(24, 25, 26)

In [2]:
#Task_3
a_tuple = book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print(f"Size of the tuple is: {len(a_tuple)}")
for i in a_tuple:
  print(i)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#Task_4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for i in book_info:
  a,b,c = i
  print(f"{b} won the '{a}' category with  {c} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with  68821 votes
The Institute won the 'Best Horror' category with  75717 votes
The five won the 'Best History & Biography' category with  31783 votes
The Testaments won the 'Best Fiction' category with  98291 votes

In [3]:
#Task_5
a_tuple = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
count = 0
a = int(input())
for i in a_tuple:
    if(i==a):
        count+=1
print(f"{a} appears {count} times in the tuple")

1
1 appears 0 times in the tuple

In [ ]:
#Task_6
a_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
a_list = list(a_tuple)
a_list = a_list[::-1]
a_tuple = tuple(a_list)
print(a_tuple)

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [4]:
#Task_7
dic_a = {'Harry':15, 'Draco':8, 'Nevil':19}
dic_b = {'Ginie':18, 'Luna': 14}
marks = {}
marks.update(dic_a)
marks.update(dic_b)
print(marks)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#Task_8
sdic = input()
sdic = sdic[1:-1]
dic_list = sdic.split(',')
dsum = 0
slen = 0
for i in dic_list:
  s = i
  slist = s.split(':')
  value = int(slist[1])
  dsum+=value
  slen+=1
avrg = dsum/slen
if(avrg == int(avrg)):
  print("Average is",int(avrg))
else:
  print("Average is",(avrg))

{'Jon': 100, 'Dan':200, 'Rob':300}
Average is 200

In [6]:
#Task_9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
exam_marks_2 = {}
exam_marks_2.update(exam_marks)
a = int(input())
for i in exam_marks:
    if(exam_marks_2[i]<a):
        exam_marks_2.pop(i)
print(exam_marks_2)

190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#Task_10
sdic = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
dicMaxk = 0
dicMaxv = float('-inf')
for i in sdic:
  if sdic[i]>dicMaxv:
    dicMaxv = sdic[i]
    dicMaxk = i
print(f"The highest selling book genre is '{dicMaxk}' and the number of books sold are {dicMaxv}.")

The highest selling book genre is 'mystery' and the number of books sold are 15.

In [5]:
#Task_11
s = input()
s = s.lower()
s = s.replace(' ','')
dic_s = {}
for i in s:
    dic_s[i]=0
for i in s:
    dic_s[i]+=1
print(dic_s)

Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#Task_12
dic = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count = 0
for i in dic:
  count+=len(dic[i])
print(count)

9

In [7]:
#Task_13
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count = 0
for i in dict_1:
    for j in dict_1[i]:
        count+=1
print(count)

9